.main-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.main-img {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px 10px 50px;
}

.main-content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 40px 20px;
}

.main-content {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    line-height: 1.8;
}

.main-content section {
    margin-bottom: 40px;
}

.main-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 16px;
}