.menu-bar {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

.menu-bar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 70px;
}

.menu-bar nav ul li {
    padding: 10px 20px;
}

.menu-bar nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-color 0.2s ease;
}

.menu-bar nav ul li a:hover {
    border-bottom: 2px solid #d7ca85;
    color: #d7ca85;
}