    .footer {
        background-color: #f9f9f9;
        padding: 40px 20px;
    }
    
    #info-popup {
        position: fixed;
        bottom: 80px;
        left: 20px;
        width: 300px;
        background: #ffffff;
        border: 2px solid #333;
        border-radius: 8px;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        font-family: Arial, sans-serif;
        overflow: hidden;
    }
    
    #info-header {
        background: #c6c1a2;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #close-btn {
        background: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }
    
    #info-body {
        padding: 15px;
    }
    
    #info-body ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    #info-body ul li {
        padding: 6px 0;
        font-size: 14px;
    }
    
    #info-body ul li:last-child {
        border-bottom: none;
    }
    
    #info-icon {
        position: fixed;
        justify-content: flex-start;
        bottom: 20px;
        left: 20px;
        width: 60px;
        height: 60px;
        background: #c6c1a2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    #info-icon i:hover {
        color: #20201fe0;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f9f9f9;
    }
    
    .footter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        height: 400px;
    }
    
    .content1 {
        flex: 1;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    }
    
    .content1 h2 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    
    .content1 p {
        text-align: justify;
        max-width: 100%;
        margin: 5px 0;
        font-size: 14px;
        color: #666;
        line-height: 1.5;
    }
    
    .content2 {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .content2 iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }